<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 text-white">
            <img class="card-img" src="assets/img/products/product.jpeg" alt="Card image">
        </div>
    </div>
    <div class="col-md-8">
        <div class="mb-4">
            <div class="mb-4">
                <h1 class="card-title">Relógio inteligente Zeblaze</h1>
                <p class="card-text">Se você pensa em comprar um smartwatch, esta opção
                    pode acabar com as suas dúvidas. Com um design discreto e elegante, irá trazer todas as
                    notificações diretamente no seu pulso.
                </p>

                <app-recommend></app-recommend>

            </div>
        </div>
    </div>
</div>
