<div class="row">
    <div class="col-md-4 mb-1">
        <div class="card text-white">
            <img class="card-img" src="assets/img/products/product.jpeg" alt="Card image">
        </div>
    </div>
    <div class="col-md-8">
        <div class="">
            <div class="">
                <h1 class="card-title">Relógio inteligente Zeblaze</h1>
                <p class="card-text">Se você pensa em comprar um smartwatch, esta opção
                    pode acabar com as suas dúvidas. Com um design discreto e elegante, irá trazer todas as
                    notificações diretamente no seu pulso.
                </p>
                <p class="card-text">Com um design discreto e elegante, irá trazer todas as
                    notificações diretamente no seu pulso.
                </p>

                <button
                        type="button"
                        class="col-md-4 btn btn-success btn-custom-pd-right"
                        routerLink="/recomendacoes/criar"
                >
                    Recomendar
                </button>
                <button
                        type="button"
                        class="col-md-4 btn btn-info"
                        routerLink="/recomendacoes"
                >
                    Recomendações
                </button>

            </div>
        </div>
    </div>
</div>
<hr class="mb-3"/>

<div class="row">
    <div class="col-md-4 mb-1">
        <div class="card text-white">
            <img class="card-img" src="assets/img/products/beleza.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-md-8">
        <div class="">
            <div class="">
                <h1 class="card-title">Beleza e saúde</h1>
                <p class="card-text">Os 5 produtos de beleza e saúde mais buscados no Zoom. Se você pensa em comprar um
                    smartwatch, esta opção
                    pode acabar com as suas dúvidas. Com um design discreto e elegante, irá trazer todas as
                    notificações diretamente no seu pulso.
                </p>

                <button
                        type="button"
                        class="col-md-4 btn btn-success btn-custom-pd-right"
                        routerLink="/recomendacoes/criar"
                >
                    Recomendar
                </button>
                <button
                        type="button"
                        class="col-md-4 btn btn-info"
                        routerLink="/recomendacoes"
                >
                    Recomendações
                </button>

            </div>
        </div>
    </div>
</div>
<hr class="mb-3"/>

<div class="row">
    <div class="col-md-4 mb-1">
        <div class="card text-white">
            <img class="card-img" src="assets/img/products/tecnologia.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-md-8">
        <div class="">
            <div class="">
                <h1 class="card-title">Plume Self-Optimizing Wi-Fi</h1>
                <p class="card-text">O eero Wi-Fi é um sistema desenvolvido em parceria com as equipas da Amazon e com
                    integração à Alexa. Permite que controle o Wi-Fi em toda a sua casa usando apenas a voz. Se tem o
                    sistema Alexa, em junção com ele pode usar o seu eero para encontrar os seus dispositivos espalhados
                    pela casa.
                </p>
                <p>
                    pode acabar com as suas dúvidas. Com um design discreto e elegante, irá trazer todas as
                    notificações diretamente no seu pulso.
                </p>

                <button
                        type="button"
                        class="col-md-4 btn btn-success btn-custom-pd-right"
                        routerLink="/recomendacoes/criar"
                >
                    Recomendar
                </button>
                <button
                        type="button"
                        class="col-md-4 btn btn-info"
                        routerLink="/recomendacoes"
                >
                    Recomendações
                </button>

            </div>
        </div>
    </div>
</div>
<hr class="mb-3"/>