<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 text-white">
            <img class="card-img" src="assets/img/products/product.jpeg" alt="Card image">
        </div>
    </div>
    <div class="col-md-8">
        <div class="mb-4">
            <div class="mb-4">
                <h5 class="card-title">Relógio inteligente Zeblaze</h5>
                <p class="card-text">Se você pensa em comprar um smartwatch, esta opção
                    pode acabar com as suas dúvidas. Com um design discreto e elegante, irá trazer todas as
                    notificações diretamente no seu pulso.
                </p>
                <button type="button" class="col-md-4 btn btn-success btn-custom-pd-right">Indicar Produto</button>
                <button type="button" class="col-md-4 btn btn-info">Suas Indicações</button>
            </div>
        </div>
    </div>
</div>
