<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 text-white">
            <img class="card-img" src="assets/img/roberto/foto-beto.jpg" alt="Card image">
        </div>
    </div>
    <div class="col-md-8">
        <div class="mb-4">
            <div class="mb-4">
                <h1>Roberto Ancelmo</h1>
                <div class="card-contacts">
                    <span>[11] 93907.7076</span>
                    <span>criacao3w@gmail.com</span>
                </div>
                <hr/>
                <p class="card-text">Colaborador na área de desenvolvimento de projetos
                    online em agências digital, publicidade, propaganda e comunicação.
                </p>
                <p class="" card-text>
                    Desenvolvi projetos para empresas como: Danone, Ambev, Odontoprev, Bayer, Megaware, Network 1,
                    Chevrolet, Harley Davidson, Toyota, Heliotek, Minha Casa Minha Vida, Nova Noiva, Nova Noiva Sapatos,
                    Center Noivas, Restaurante Italy, General Prime Burge, entre outros.</p>
            </div>
        </div>
    </div>
</div>
