/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
Container Main - body content
 */
#container-main {
    padding: 20px 20px 55px 20px;
}
/*
End Container Main - body content
 */

.btn-custom-pd-right{
    margin: 5px 10px 5px 0px;
}
