<div class="row">
    <caption class="col-md-12">
        Produto:
        <br />
        Relógio inteligente Zeblaze
    </caption>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-warning">
            <th scope="row">Roberto</th>
            <td>criacao3w@gmail.com</td>
            <td>888120575-00</td>
            <td>Processado</td>
            <td>
                <button class="btn btn-success">
                    Editar
                </button>
                <button class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>
        <tr class="table-info">
            <th scope="row">Roberto</th>
            <td>criacao3w@gmail.com</td>
            <td>888120575-00</td>
            <td>Processado</td>
            <td>
                <button class="btn btn-success">
                    Editar
                </button>
                <button class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Roberto</th>
            <td>criacao3w@gmail.com</td>
            <td>888120575-00</td>
            <td>Processado</td>
            <td>
                <button class="btn btn-success">
                    Editar
                </button>
                <button class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>
        <tr class="table-success">
            <th scope="row">Roberto</th>
            <td>criacao3w@gmail.com</td>
            <td>888120575-00</td>
            <td>Processado</td>
            <td>
                <button class="btn btn-success">
                    Editar
                </button>
                <button class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>

    </table>
</div>